{% extends "OmitsisBundle:Default:main.html.twig" %}

{% block metatitle %}Omitsis Hotels - Home{% endblock %}

{% block content %}
    
    <div class="jumbotron">
        <h1>Booking Online - dev test</h1>
        <p class="lead">Select your hotel and dates. After that, select your room.</p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Select hotel</h4>
            
            {{ form_start(form) }}

            <div class="control-group">
                <label for="{{ form.hotelid.vars.id }}">{{ form.hotelid.vars.label|trans }}</label>
                <div>
                    {{ form_widget(form.hotelid, {'attr': {'class': 'hotelSelect'}}) }}
                    {#{{ form_errors(form.hotelid) }}#} {# errors #}
                </div>
            </div>

            <div class="control-group">
                <label for="{{ form.datein.vars.id }}">
                    {{ form.datein.vars.label|trans }}</label>
                <div>
                    {{ form_widget(form.datein, {'attr': {'class': 'inputDate checkIn'}}) }}
                    {{ form_errors(form.datein) }}
                </div>
            </div>

            <div class="control-group">
                <label for="{{ form.dateout.vars.id }}">
                    {{ form.dateout.vars.label|trans }}</label>
                <div>
                    {{ form_widget(form.dateout, {'attr': {'class': 'inputDate checkOut'}}) }}
                    {{ form_errors(form.dateout) }}
                </div>
            </div>

            {{ form_widget(form.send, {'attr': {'class': 'checkAv'}}) }}
            {{ form_end(form) }}
        </div>

        {% if data.rooms is defined and data.rooms | length > 0 %}
        <div class="col-lg-6">
            <div class="roomList">
                <h4>Select a room</h4>          
                <ul>
                    {% for key,room in data.rooms %}
                    <li>Room {{ room }} <a href="{{ path('saveRoom') }}" data-idhotel="{{ data.idHotel }}" data-idroom="{{ key }}" class="btn btn-info bookingRoom">Book now</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="bookingResponse"></div>
          
        </div>
        {% endif %}
    </div>
    
    
    <script type="text/javascript">
        $( document ).ready(function() {
            {% if data.dateIn is defined %}
            $(".bookingRoom").click(function(){

                $.ajax({
                    method: "POST",
                    url: $(this).attr('href'),
                    data: { 
                        idhotel: $(this).data('idhotel'), 
                        idroom: $(this).data('idroom'),
                        dateIn: {{ data.dateIn | date("Ymd") }},
                        dateOut: {{ data.dateOut | date("Ymd") }}
                    }
                  })
                .done(function( msg ) {
                  $(".roomList").hide();
                  $("#bookingResponse").html(msg);
                });

                return false;

            })
            {% endif %}

            $(".checkAv").click(function(){
                var datein = $(".checkIn").val().split("-");
                var dateout = $(".checkOut").val().split("-");
                                
                var from = new Date(datein[2], datein[1] - 1, datein[0]);
                var to = new Date(dateout[2], dateout[1] - 1, dateout[0]);
                var today = new Date({{ "now"|date("Y,m-1,d") }});

                if(from >= to){
                    alert("Error. Check In must be previous than Check out");
                    return false;
                }
                if(from < today || to <= today){
                    alert("Check In and Check out must be future dates");
                    return false;
                }                               
                
                return true;
                
            });
        });
        
        
    </script>
    
        
        
{% endblock content %}
