{% extends "OmitsisBundle:Default:main.html.twig" %}

{% block metatitle %}Omitsis Hotels - List of Hotels{% endblock %}


{% block content %}
    
      <div class="jumbotron">
        <h1>Reservations - dev branch</h1>
        <h2>Hotel {{ hotel.name }} {% for i in range (1,hotel.stars) %} * {% endfor %}</h2>
        {% if hBookings | length > 0 %}
            
            {% for key,roomBookings in hBookings %}

                {% set prev = null %}
                {% for booking in roomBookings %} 
                    {% if booking.number != prev %}
                        <h3><label class="btn btn-primary">Room {{ booking.number }}</label></h3>
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-3"><strong>Check In</strong></div>
                        <div class="col-sm-3"><strong>Check Out</strong></div>
                    </div>
                        {% set prev = booking.number %}
                    {% endif %}
                    <div class="row">                    
                        <div class="col-sm-3 col-sm-offset-3">{{ booking.datein | date('d/m/Y') }}</div>
                        <div class="col-sm-3">{{ booking.dateout | date('d/m/Y') }}</div>
                    </div>

                {% endfor %}

            {% endfor %}
            
        {% else %}
            <div role='alert' class='alert alert-danger alert-dismissible fade in'>
                <h4>No bookings yet!</h4> 
                This hotel has no reservations
            </div>
        {% endif %}
        
      </div>
      
{% endblock content %}
