{% extends "OmitsisBundle:Default:main.html.twig" %}

{% block metatitle %}Omitsis Hotels - List of Hotels{% endblock %}


{% block content %}
    
      <div class="jumbotron">
        <h1>List of hotels</h1>
        <ul class="hotelsList">
            {% for hotel in hotels %}
            <li>{{ hotel.name }} <a class="btn btn-success" href="{{ path('hotelInfo',{'hotelid':hotel.id}) }}" role="button">Check hotel bookings</a></li>
            {% endfor %}
        </ul>
      </div>
      
{% endblock content %}