<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block metadescription %}Omitsis Hotels exercise{% endblock %}">
    <meta name="author" content="Daniel Hernandez">
    <link rel="icon" href="{{ asset('bundles/omitsis/favicon.ico')}}">

    <title>{% block metatitle %}Omitsis Hotels{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/omitsis/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/omitsis/css/styles.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" {% if isHome is defined and isHome %}class="active"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
            <li role="presentation" {% if "/listhotels" in app.request.uri %} class="active" {% endif %}><a href="{{ path('listhotels') }}">List of hotels</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="{{ path('homepage') }}">Omitsis Hotels</a></h3>
      </div>
      {% block content %}
      
      {% endblock content %}

      <footer class="footer text-center">
        <p>&copy; 2016 Omitsis Hotels</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>